<!DOCTYPE html>
<html lang="<%=I18n.locale %>">
<head>
<meta charset="utf-8" />
<%=display_meta_tags :site => t(:application_name),
	:title=>@title,
	:description => @meta_description,
	:keywords => @meta_keywords,
	:separator => t(:title_separator),
	:viewport => 'width=device-width, initial-scale=1.0, user-scalable=yes',
	:reverse => true %>
<%=display_meta_tags og: {
  	title:   @title,
  	description: @meta_description,
  	url:      @meta_url,
  	image:    @meta_image
	} %>
<meta name="author" content="Sleeping-Lion" />
<%= stylesheet_link_tag "application", :media=>"all", "data-turbolinks-track" => true %>
<%= favicon_link_tag 'favicon.ico' %>
<%= csrf_meta_tags %>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<![endif]-->
</head>
<body>
<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/aside' %>
	<div id="mom">
		<div id="main" class="container-fluid">
			<div id="s-search_form_layer" class="row">
				<%= render :partial => 'layouts/search' %>
			</div>
			<div class="row">
				<div class="sub_main col-xs-12">
				<%=yield %>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'layouts/footer' %>
	<%= render :partial => 'layouts/sns' %>
	<%= javascript_include_tag :application, "data-turbolinks-track" => true %>
</body>
</html>
